<li id="{{id}}" class="">
  	{{#link "detail/{{id}}" expand-tokens=true class="navigate-right media-object-cat__bg"}}
	  	<div class="{{category.name}}__bg {{category.name}}-l__bg">
		    <div class="media-object__container">
			    <div class="{{category.name}} {{category.name}}__center"></div>
				<h2>{{category.name}}</h2>
		    </div>
	  	</div>

	    <div class="media-body">
	    	<div class="media-body__wrap">
	    		<p>{{subject}}</p>
	    	</div>
	      
	    </div>
  	{{/link}}
</li>
