<li id="{{id}}" class="table-view-cell media">
  {{#link "detail/{{id}}" expand-tokens=true class="navigate-right"}}
    <div class="media-object pull-left {{category.name}} {{category.name}}__bg"></div>
	<h2>{{category.name}}</h2>
    <div class="media-body">
      <p>{{subject}}</p>
    </div>
  {{/link}}
</li>