{{#view "detail/header" tag="header" className="bar bar-nav" type="detail-header"}}
  	<a href="#" class="icon icon-left-nav pull-left"></a>
  	<h1 class="title">Details</h1>
{{/view}}
<div class="content" data-transition-in="{{transitionIn}}" data-transition-out="{{transitionOut}}">
	<div class="content-padded">
	  <h4>{{title}}</h4>

	  <h6>{{#visible}} Visible: {{id}} {{/visible}}</h6>
	  <p>Item {{id}} has a visible status of {{visible}}</p>
	  <p>{{description}}</p>
	  <br>
	  <small>{{extra}}</small>
	</div>
</div>
{{#view "detail/footer" tag="nav" className="bar bar-tab" type="detail-footer"}}
  <a class="tab-item active" href="#">
    <span class="icon icon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-gear"></span>
    <span class="tab-label">Settings</span>
  </a>
{{/view}}