<div class="contentMask"></div>
<header className="bar bar-nav">
  	{{#link "" expand-tokens=true class="icon icon-left-nav pull-left"}}{{/link}}
  	<h1 class="title">Details</h1>
</header>
<div class="content">
	<div class="content-padded">
	  <h4>{{subject}}</h4>

	  <h6>{{#visible}} Visible: {{id}} {{/visible}}</h6>
	  <p>Item {{id}} has a visible status of {{visible}}</p>
	  <p>{{information}}</p>
	  <br>
	  <small>Posted {{modified_at}} in category {{category.name}}</small>
	</div>
</div>
{{#view "footer" tag="nav" className="bar bar-tab" type="detail-footer"}}
  <a class="tab-item active toggle-share">
    <span class="icon icon-share"></span>
    <span class="tab-label">Share This</span>
  </a>
{{/view}}