<div class="content" data-transition="slide-in">
	<div class="content-padded">
	  <h4>{{title}}</h4>

	  <h6>{{#visible}} Visible: {{id}} {{/visible}}</h6>
	  <p>Item {{id}} has a visible status of {{visible}}</p>
	  <p>{{description}}</p>
	  <br>
	  <small>{{extra}}</small>
	</div>
</div>